<h1>{{> page/title}}</h1>

{{#partial "secondary-nav"}}
<ul>
    <li><a href="http://www.google.com">Google</a></li>
    <li><a href="https://www.amazon.com">Amazon</a></li>
    <li><a href="https://www.bing.com">Bing</a></li>
</ul>
{{/partial}}

{{> page/nav}}
